<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <title>Registro de Usuarios</title>
</head>
<body>
    <div class="container">
        <form id="frmUsuario" method="post">
            <input type="hidden" id="id" name="id">
            <div class="mb-1">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>
            <div class="mb-1">
                <label for="email">Correo Electrónico</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            <div class="mb-1">
                <button id="guardar" name="guardar" class="btn btn-dark">Guardar</button>
                <button type="reset" id="cancelar" name="cancelar" class="btn btn-link">Cancelar</button>
            </div>
        </form>
        <table class="table table-sm">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tbodyUsuarios"></tbody>
        </table>
    </div>

    <script>
        function buscar() {
            $.get("/buscar", function (respuesta) {
                $("#tbodyUsuarios").html("");
                respuesta.forEach(function(usuario) {
                    $("#tbodyUsuarios").append(`<tr>
                        <td>${usuario["Nombre"]}</td>
                        <td>${usuario["Email"]}</td>
                        <td>
                            <button class="btn btn-primary btn-editar" data-id="${usuario["Id"]}">Editar</button>
                            <button class="btn btn-danger btn-eliminar" data-id="${usuario["Id"]}">Eliminar</button>
                        </td>
                    </tr>`);
                });
            });
        }

        buscar();

        $(document).on("click", ".btn-editar", function () {
            const id = $(this).attr("data-id");
            $.get("/editar", {id: id}, function (usuario) {
                $("#id").val(usuario.Id);
                $("#nombre").val(usuario.Nombre);
                $("#email").val(usuario.Email);
            });
        });

        $(document).on("click", ".btn-eliminar", function () {
            if (!confirm("¿Quieres eliminar este usuario?")) {
                return;
            }
            const id = $(this).attr("data-id");
            $.post("/eliminar", {id: id}, function () {
                buscar();
            });
        });

        $("#frmUsuario").submit(function (event) {
            event.preventDefault();
            $.post("/guardar", $(this).serialize(), function () {
                $("#frmUsuario").get(0).reset();
                buscar();
            });
        });
    </script>
</body>
</html>
